<configuration>
	<system.web>
		<identity impersonate="false" />
		<compilation debug="true" />
        <authentication mode="Forms" /></system.web>
	<system.webServer>
		<defaultDocument>
			<files>
				<clear />
				<add value="index.html" />
			</files>
		</defaultDocument>
		<handlers accessPolicy="Read, Execute, Script" />
	</system.webServer>
</configuration>
