JpgImage_1 RCDATA "Images\\zekiri.jpg"
JpgImage_2 RCDATA "Images\\background.jpg"
JpgImage_3 RCDATA "Images\\baby1.jpg"
PngImage_1 RCDATA "Images\\Babies.png"
PngImage_2 RCDATA "Images\\Baby.png"
JpgImage_4 RCDATA "Images\\baby2.jpg"
JpgImage_5 RCDATA "Images\\baby3.jpg"
JpgImage_6 RCDATA "Images\\baby4.jpg"
PngImage_3 RCDATA "Images\\EmptyPhoto.png"
PngImage_4 RCDATA "Images\\icon.png"
PngImage_5 RCDATA "Images\\Photo.png"
PngImage_6 RCDATA "Images\\splash.png"
PngImage_7 RCDATA "Images\\itemBg.png"
